<launch>

    <arg name="project" default="liloc"/>
    
    <!-- Parameters -->
    <rosparam file="$(find liloc)/config/lio_sam_default.yaml" command="load" />

    <!--- LOAM -->
    <include file="$(find liloc)/launch/include/module_loam.launch" />

    <!--- Run Rviz-->
    <include file="$(find liloc)/launch/include/module_rviz.launch" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="static_tf_lidar_to_base" args="0 0 0 0 0 3.14159 os_sensor_top os_lidar_top" />

</launch>
